<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.net.file.mapper.FileMapper">
    <resultMap type="com.net.file.entity.UserFileEntity" id="userFileMap">
        <result property="userFileId" column="user_file_id"/>
        <result property="userId" column="user_id"/>
        <result property="pid" column="pid"/>
        <result property="fileId" column="file_id"/>
        <result property="fileName" column="file_name"/>
        <result property="filePath" column="file_path"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="recycleTime" column="recycle_time"/>
        <result property="status" column="status"/>
        <result property="isDir" column="is_dir"/>
        <result property="fileCategory" column="file_category"/>
        <result property="fileSize" column="file_size"/>
        <result property="fileCover" column="file_cover"/>
    </resultMap>
    <select id="listUserFileByPidAndPath" resultMap="userFileMap">
        select u.user_file_id,u.user_id,u.pid,u.file_id,u.file_name,u.file_path,u.create_time,u.update_time,u.status,u.is_dir,file_category,file_size,file_cover
        from user_file u
        left join file
        on u.file_id = file.file_id
        where status = #{status} and
              <if test="pid != null">
                  pid = #{pid}
              </if>
              <if test="pid == null">
                  pid is null
              </if>
          and file_path like concat(#{path},'%') and user_id = #{userId};
    </select>
    <select id="getUserFileByUserFileId" resultMap="userFileMap">
        select u.user_file_id,u.user_id,u.pid,u.file_id,u.file_name,u.file_path,u.create_time,u.update_time,u.status,u.is_dir,file_category,file_size,file_cover
        from user_file u
        left join file
        on u.file_id = file.file_id
        where u.user_file_id = #{id}
    </select>
</mapper>
